/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

  body {
    font-family: "Open Sans", sans-serif;
    color: #272829;
  }

  h1 {
    text-align: center;
  }

  h2 {
    padding-top: 40px;
  }

  .nav-menu {
    padding-top: 40px;
  }
  
  .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .nav-menu a {
    display: flex;
    align-items: center;
    color: lightgray;
    padding: 12px 15px;
    margin-bottom: 8px;
    font-size: 15px;
  }

  a:hover {
    color: #149ddd;
    fill: #149ddd;
    text-decoration: none;
  }

  .content {
    padding-left: 250px;
  }

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

  #header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 0 15px;
    background: #040b14;
  }
  
  #header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
  }
  
  #header .profile h1 {
    font-size: 24px;
    font-weight: 600;
  }
  
/*--------------------------------------------------------------
# Social Media
--------------------------------------------------------------*/

  /* Style all font awesome icons */
.fa {
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.tableau {
  background-color: white;
  padding: 5px 0px 7px 0px;
  position: relative;
  top: -5px;
}

.tableau:hover {
  background-color: #149ddd;
}

